/*
css注释，会被解析到css文件中
*/
body {
  background-color: darkseagreen;
}
.box1 {
  background-color: darksalmon;
}
.box1 .box2 {
  background-color: darkcyan;
}
.box1 .box2 .box4 {
  background-color: darkslateblue;
}
.box1 .box3 {
  background-color: darkred;
}
.box5 {
  width: 100px;
  color: red;
}
.box6 {
  width: 100px;
  background-image: url("box6/1.jpg");
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: steelblue;
}
body:hover {
  background-color: #38678f;
}
.box1 {
  width: 200px;
  height: 100px/2;
  background-color: thistle;
}
