.box1 .box2 {
  color: red;
}
.box1 > .box3,
.p3 {
  color: rosybrown;
}
.box1:hover {
  background-color: darkseagreen;
}
.box1-color {
  background-color: darksalmon;
}
.p1,
.p2 {
  width: 100px;
  height: 100px;
}
.p2 {
  color: darkslategray;
}
.p3 {
  width: 3px;
  height: 3px;
}
.p4 {
  width: 100px;
  height: 100px;
}
.p6 {
  width: 100px;
  height: 100px;
  background-color: goldenrod;
}
div {
  width: 200px;
  height: 300px;
  border: 1px solid red;
  width: 300px;
  height: 200px;
  border: 1px solid yellow;
}
span {
  color: #ff8000;
}
