<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <input type="text" v-model="keyWord" placeholder="请输入名字" />
      <button @click="sortType=2">年龄升序</button>
      <button @click="sortType=1">年龄降序</button>
      <button @click="sortType=0">原顺序</button>
      <ul>
        <li v-for="(p,index) in filPerson" :key="p.id">
          {{p.name}}-{{p.age}}-{{p.sex}}
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      Vue.config.productionTip = false;
      new Vue({
        el: "#root",
        data: {
          keyWord: "",
          sortType: 0, //0原顺序，1降序，2升序
          persons: [
            { id: "001", name: "张三", age: 18, sex: "男" },
            { id: "002", name: "李四", age: 21, sex: "男" },
            { id: "003", name: "王五", age: 19, sex: "男" },
            { id: "004", name: "张浩", age: 30, sex: "男" },
            { id: "005", name: "小四", age: 19, sex: "男" },
          ],
        },
        computed: {
          filPerson() {
            const arr = this.persons.filter((p) => {
              return p.name.indexOf(this.keyWord) != -1;
            });
            if (this.sortType) {
              arr.sort((a, b) => {
                return this.sortType === 1 ? b.age - a.age : a.age - b.age;
              });
            }
            return arr;
          },
        },
      });
    </script>
  </body>
</html>
