<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <h1>后台管理系统
        <button id="exit">退出登录</button>
        </h1>
      <div>用户名:<input id="username" /></div>
      <div>密码:<input type="password" id="password" /></div>
      <div>年龄:<input type="number" id="age" /></div>
      <div><button id="register">注册</button></div>
      <hr />
      <div>
        <button class="update" id="update" value="62c7c98e8e9c28077a53d4a7">
          更新
        </button>
        <button class="delete" id="delete">删除</button>
      </div>
      <br />
      <table border="1">
        <thead>
          <tr>
            <td>id</td>
            <td>用户</td>
            <td>年龄</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script type="text/javascript">
      var register = document.querySelector("#register");
      var username = document.querySelector("#username");
      var password = document.querySelector("#password");
      // var update = document.getElementsByClassName("update");
      // var mydelete = document.querySelector("#delete");
      var exit = document.querySelector("#exit");

      function updateFun() {
        console.log(this.value);
        fetch(`/api/user?id=${this.value}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: "名字",
            password: "密码",
            age: 1,
          }),
        })
          .then((res) => res.json())
          .then((res) => {
            if(res.ok==0){
              location.href="/login"
            }
            console.log(res);
          });
      }
      function deleteFun() {
        console.log(this.value);
        fetch(`/api/user?id=${this.value}`, {
          method: "DELETE",
        })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            if(res.ok==0){
              location.href="/login"
            }
          });
      }

      register.onclick = () => {
        console.log(username.value, password.value, age.value);
        fetch("/api/user", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: username.value,
            password: password.value,
            age: age.value,
          }),
        })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            if(res.ok==0){
              location.href="/login"
            }
          });
      };

      // 第一页数据，要两条
      //   fetch("/api/user?page=1&limit=2")
      //     .then((res) => res.json())
      //     .then((res) => {
      //       console.log(res);
      //       var tbody = document.querySelector("tbody");
      //       // map映射
      //       tbody.innerHTML = res
      //         .map(
      //           (item) => `
      //     <tr>
      //       <td>${item._id}</td>
      //       <td>${item.username}</td>
      //       <td>${item.age}</td>
      //       <td> <button class="update" value="${item._id}"">更新</button><button class="delete">删除</button> </td>
      //     </tr>
      //     `
      //         )
      //         .join("");
      //     });

      var updates;
      async function getButton() {
        await fetch("/api/user?page=1&limit=2")
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            var tbody = document.querySelector("tbody");
            // map映射
            tbody.innerHTML = res
              .map(
                (item) => `
              <tr>
                <td>${item._id}</td>
                <td>${item.username}</td>
                <td>${item.age}</td>
                <td> <button class="update" value=${item._id}>更新</button><button class="delete" value=${item._id}>删除</button> </td>
              </tr>
              `
              )
              .join("");
          });

        // 更新操作
        updates = document.getElementsByClassName("update");
        var i = 0;
        for (i; i < updates.length; i++) {
          updates[i].onclick = updateFun;
        }

        // 删除操作
        mydeletes = document.getElementsByClassName("delete");
        var i = 0;
        for (i; i < mydeletes.length; i++) {
          mydeletes[i].onclick = deleteFun;
        }
      }

      getButton();

      exit.onclick = ()=>{
        fetch("/api/logout").then(res=>res.json()).then(res=>{
          if(res.ok==1){
            location.href="/login"
          }
          
        })
      }
    </script>
  </body>
</html>
